In [ ]:
# create table

In [ ]:
Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.sources_for_new`  as
SELECT person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id, 
DATE_ADD(birth_datetime, interval 45 YEAR) AS Date_of_45 FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V9.person` 

Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2014` as
    SELECT distinct person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id, Date_of_45, 
    DATETIME_DIFF( '2014-12-31', birth_datetime, DAY)/365 as age
    FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.sources_for_new`
WHERE  Date_of_45>='2014-01-01' AND Date_of_45<='2014-12-31'

Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2015` as
    SELECT distinct person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id, Date_of_45, 
    DATETIME_DIFF( '2015-12-31', birth_datetime, DAY)/365 as age
    FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.sources_for_new`
WHERE  Date_of_45>='2015-01-01' AND Date_of_45<='2015-12-31'

Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2016` as
    SELECT distinct person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id, Date_of_45, 
    DATETIME_DIFF( '2016-12-31', birth_datetime, DAY)/365 as age
    FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.sources_for_new`
WHERE  Date_of_45>='2016-01-01' AND Date_of_45<='2016-12-31'

Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2017` as
    SELECT distinct person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id, Date_of_45, 
    DATETIME_DIFF( '2017-12-31', birth_datetime, DAY)/365 as age
    FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.sources_for_new`
WHERE  Date_of_45>='2017-01-01' AND Date_of_45<='2017-12-31'

Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2018` as
    SELECT distinct person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id, Date_of_45, 
    DATETIME_DIFF( '2018-12-31', birth_datetime, DAY)/365 as age
    FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.sources_for_new`
WHERE  Date_of_45>='2018-01-01' AND Date_of_45<='2018-12-31'

Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2019` as
    SELECT distinct person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id, Date_of_45, 
    DATETIME_DIFF( '2019-12-31', birth_datetime, DAY)/365 as age
    FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.sources_for_new`
WHERE  Date_of_45>='2019-01-01' AND Date_of_45<='2019-12-31'

Create table `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_first_year` as
    SELECT distinct person_id,gender_source_value, birth_datetime, death_datetime,ethnicity_concept_id,  
    DATETIME_DIFF( '2013-12-31', birth_datetime, DAY)/365 as age
    FROM `yhcr-prd-phm-bia-core.CB_FDM_PrimaryCare_V9.person` 
WHERE DATETIME_DIFF( '2013-12-31', birth_datetime, DAY)/365 >=45  

DELETE FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_first_year` WHERE death_datetime< '2013-12-31'

#UNION
CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_2013-2019` as
SELECT *
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_first_year`  
UNION  DISTINCT
SELECT * except (Date_of_45)
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2014` 
UNION  DISTINCT
SELECT * except (Date_of_45)
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2015` 
UNION  DISTINCT
SELECT * except (Date_of_45)
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2016` 
UNION  DISTINCT
SELECT * except (Date_of_45)
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2017` 
UNION  DISTINCT
SELECT * except (Date_of_45)
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2018` 
UNION  DISTINCT
SELECT * except (Date_of_45)
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.new_joiner_2019` 

CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.merge`
as SELECT a.*, b.recode_ethnicity_concept_id
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_2013-2019` a Left Join  `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.clean_impute_ethnicity_1220` b
ON a.person_id=b.person_id

UPDATE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.merge`
SET ethnicity_concept_id = recode_ethnicity_concept_id
WHERE ethnicity_concept_id = 8552

CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_2013-2019_impute` as 
SELECT a.*
, b.gender_variable_value 
, b.gender_variable_label
, c.ethnicity_variable_value_8levels
, c.ethnicity_variable_label_8levels
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.merge` as a 
LEFT join `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.clean_gender` as b on a.gender_source_value = b.gender_source_value 
LEFT join `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.clean_ethnic_1220` as c on a.ethnicity_concept_id = c.concept_id

# identify dementia people (2013-2019)
CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_2013-2019_dementia`
AS SELECT person_id, dementia_variable_value 
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_dementia_all`
WHERE (dementia_variable_start_time>='2013-01-01' AND dementia_variable_start_time<='2019-12-31') 

CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_all_2013-2019` AS
SELECT distinct a.*, b. dementia_variable_value 
FROM  `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_2013-2019_impute`  a
LEFT JOIN  `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_2013-2019_dementia` b on a.person_id = b.person_id 

DELETE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_2013-2019` and others...

CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_cohort_2013_19` as
SELECT a.*, b.dementia_variable_start_time FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_all_2013-2019` a
LEFT JOIN `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_dementia_13-19` b
on a.person_id=b.person_id

In [ ]:
# save table

In [1]:
rm(list=ls())
library(bigrquery)
library(tidyverse)
bq_auth()

project <- "yhcr-prd-phm-bia-core"
project_id <- "yhcr-prd-phm-bia-core"
source_dataset_pri <-'CB_FDM_PrimaryCare_V9'
source_dataset_pri <-gsub(' ','',source_dataset_pri)

print (source_dataset_pri)
target_dataset <- "CB_MYSPACE_LG"

sql_query <- "SELECT * FROM  `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_cohort_2013_19_index` "
my_query <- bq_project_query(project_id, sql_query)
table <- bq_table_download(my_query)
write.csv(table, 'cohort_0522_index.csv')

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

[1] "CB_FDM_PrimaryCare_V9"

In [ ]:
# calcualte

In [ ]:
rm(list=ls())
library(tidyverse)
library(lubridate)
library(dplyr) 
library(rio)
library(lubridate)
library(survival)
library(Hmisc)

data=import('cohort_0522_index.csv')
print(nrow(data))

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘Hmisc’


The following objects are masked from ‘package:dplyr’:

    src, summarize


The following objects are masked from ‘package:base’:

    format.pval, units

[1] 409214

In [ ]:
data$birth_datetime<-as.Date(data$birth_datetime,format = "%Y/%m/%d")
data$death_datetime<-as.Date(data$death_datetime,format = "%Y/%m/%d")
data$time_start='2013-01-01'
data$time_start=as.Date(data$time_start)
table(data$death_datetime)
table(data$time_start)

data$dementia_variable_start_time=as.Date(data$dementia_variable_start_time,format = "%Y/%m/%d")
data$time_to_dementia<-(as.numeric(data$dementia_variable_start_time)-as.numeric(data$time_start))/365
data$time_to_dementia<-ifelse(is.na(data$time_to_dementia),7,data$time_to_dementia)
summary(data$time_to_dementia)

2014-01-11 2014-01-15 2014-02-02 2014-02-15 2014-03-03 2014-03-07 2014-03-15
         1        475          1        464          1          1        453
2014-04-15 2014-05-02 2014-05-15 2014-06-02 2014-06-09 2014-06-15 2014-07-15
       451          1        409          1          1        374        404
2014-08-15 2014-09-15 2014-10-03 2014-10-08 2014-10-11 2014-10-15 2014-11-12
       418        432          1          1          1        506          1
2014-11-15 2014-12-01 2014-12-02 2014-12-09 2014-12-15 2015-01-15 2015-02-10
       435          1          1          2        629        608          1
2015-02-15 2015-03-15 2015-04-01 2015-04-09 2015-04-15 2015-05-07 2015-05-15
       493        520          1          1        468          2        467
2015-06-04 2015-06-10 2015-06-15 2015-07-03 2015-07-15 2015-08-10 2015-08-15
         1          1        427          1        405          1        443
2015-09-07 2015-09-15 2015-10-06 2015-10-15 2015-11-15 2015-12-10 2015-12-15
         1        425          1        463        454          1        516
2016-01-15 2016-02-15 2016-03-02 2016-03-09 2016-03-10 2016-03-15 2016-04-15
       562        499          1          1          1        538        498
2016-05-03 2016-05-15 2016-06-15 2016-07-01 2016-07-15 2016-08-03 2016-08-15
         1        481        434          1        497          1        425
2016-09-15 2016-10-15 2016-11-08 2016-11-15 2016-12-04 2016-12-15 2017-01-04
       428        488          1        498          1        537          1
2017-01-15 2017-02-02 2017-02-15 2017-03-03 2017-03-04 2017-03-15 2017-04-15
       577          1        449          1          1        487        439
2017-05-08 2017-05-15 2017-06-07 2017-06-10 2017-06-15 2017-07-07 2017-07-11
         1        462          1          1        451          1          1
2017-07-15 2017-08-01 2017-08-08 2017-08-09 2017-08-15 2017-09-15 2017-10-04
       433          1          1          1        406        487          1
2017-10-15 2017-11-15 2017-12-03 2017-12-04 2017-12-07 2017-12-12 2017-12-15
       480        474          1          2          1          1        622
2018-01-05 2018-01-10 2018-01-15 2018-02-12 2018-02-15 2018-03-03 2018-03-04
         1          1        664          2        541          1          1
2018-03-06 2018-03-15 2018-04-02 2018-04-15 2018-05-15 2018-06-08 2018-06-15
         1        510          1        452        441          1        419
2018-07-03 2018-07-15 2018-08-12 2018-08-15 2018-09-08 2018-09-15 2018-10-15
         1        430          1        423          1        416        483
2018-11-01 2018-11-11 2018-11-15 2018-12-08 2018-12-09 2018-12-10 2018-12-15
         1          1        486          1          1          1        517
2019-01-15 2019-02-15 2019-03-01 2019-03-04 2019-03-09 2019-03-15 2019-04-15
       593        513          1          1          1        479        460
2019-05-15 2019-06-02 2019-06-03 2019-06-07 2019-06-09 2019-06-15 2019-07-06
       426          1          1          1          1        425          1
2019-07-09 2019-07-15 2019-08-10 2019-08-15 2019-09-04 2019-09-11 2019-09-15
         1        445          1        437          1          1        407
2019-10-12 2019-10-15 2019-11-07 2019-11-15 2019-12-15 2020-01-03 2020-01-04
         1        475          1        471        579          1          2
2020-01-07 2020-01-11 2020-01-15 2020-02-15 2020-03-12 2020-03-15 2020-04-02
         1          2        564        501          1        564          1
2020-04-11 2020-04-15 2020-05-02 2020-05-05 2020-05-07 2020-05-15 2020-06-07
         2        927          1          1          2        601          1
2020-06-09 2020-06-15 2020-07-04 2020-07-05 2020-07-07 2020-07-15 2020-08-02
         1        356          1          1          1        345          1
2020-08-04 2020-08-06 2020-08-10 2020-08-11 2020-08-15 2020-09-15 2020-10-01
         1          1          1          1        331        347          1
2020-10-04 2020-10-09 2020-10-11 2020-10-15 2020-11-09 2020-11-15 2020-12-12
         1          1          1        457          1        508          1
2020-12-15 2021-01-01 2021-01-06 2021-01-07 2021-01-09 2021-01-10 2021-01-15
       500          1          1          1          1          1        528
2021-02-15 2021-03-15 2021-04-01 2021-04-03 2021-04-05 2021-04-06 2021-04-15
       441        376          1          1          1          1        399
2021-05-01 2021-05-05 2021-05-15 2021-06-15 2021-07-11 2021-07-15 2021-08-07
         1          1        383        342          1        376          1
2021-08-12 2021-08-15 2021-09-06 2021-09-07 2021-09-11 2021-09-12 2021-09-15
         1        400          1          1          1          1        425
2021-10-01 2021-10-11 2021-10-12 2021-10-15 2021-11-04 2021-11-10 2021-11-11
         1          1          1        441          2          1          1
2021-11-15 2021-12-03 2021-12-11 2021-12-12 2021-12-15 2022-01-11 2022-01-15
       421          1          1          1        473          1        501
2022-02-08 2022-02-15 2022-03-04 2022-03-15 2022-04-15 2022-05-04 2022-05-05
         1        386          1        429        448          1          1
2022-05-07 2022-05-08 2022-05-15 2022-06-02 2022-06-06 2022-06-08 2022-06-15
         1          1        415          1          2          1        368
2022-07-01 2022-07-07 2022-07-11 2022-07-15 2022-08-02 2022-08-07 2022-08-12
         1          1          1        395          1          1          1
2022-08-15 2022-09-01 2022-09-02 2022-09-04 2022-09-05 2022-09-08 2022-09-10
       394          1          1          1          1          1          1
2022-09-15 2022-10-01 2022-10-15 2022-11-01 2022-11-05 2022-11-07 2022-11-10
       390          1        451          1          1          1          1
2022-11-11 2022-11-12 2022-11-15 2022-12-05 2022-12-06 2022-12-09 2022-12-15
         1          1        363          1          1          1        512
2023-01-01 2023-01-02 2023-01-04 2023-01-15 2023-02-04 2023-02-05 2023-02-10
         2          1          1        466          1          2          1
2023-02-12 2023-02-15 2023-03-01 2023-03-04 2023-03-06 2023-03-12 2023-03-15
         1        340          1          1          1          1        451
2023-04-02 2023-04-05 2023-04-07 2023-04-12 2023-04-15 2023-05-04 2023-05-05
         1          1          1          2        337          1          1
2023-05-11 2023-05-15 2023-06-15 2023-07-02 2023-07-03 2023-07-11 2023-07-15
         1        313        278          1          1          1        303
2023-08-03 2023-08-15 2023-09-15 2023-10-15 2023-11-15 2023-12-15 2024-01-15
         4        281        287        323        350        351         27

2013-01-01
    409214

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
  0.000   7.000   7.000   6.924   7.000   7.000

In [6]:
df=subset(data,data$time_to_dementia>0&data$time_to_dementia<=7) 
df$dementia=ifelse(is.na(df$dementia_variable_start_time),0,1)
table(df$dementia)
fit<-pyears(Surv(time = df$time_to_dementia,event = df$dementia)~ethnicity_variable_label_8levels,
            data=df, scale=1) 
fit
e<-fit$event
e
t<-fit$pyears
t
dt1=binconf(e,t,alpha = 0.05,method = "asymptotic")
dt1

     0      1
400243   8940

In [ ]:
CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_cohort_index` as
Select distinct a.*
  , c.Lsoa
  , max(Index_of_Multiple_Deprivation_Decile) IMD
  from `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_cohort_2013_19` a
left join `yhcr-prd-phm-bia-core.CB_LOOKUPS.tbl_person_lsoa` as c 
on a.person_id = c.person_id
left join `yhcr-prd-phm-bia-core.CB_LOOKUPS.tbl_IMD_by_LSOA` as d 
on c.lsoa = d.LSOA_code
group by person_id, gender_source_value, birth_datetime, death_datetime, ethnicity_concept_id, age, recode_ethnicity_concept_id, gender_variable_value, gender_variable_label, ethnicity_variable_value_8levels, ethnicity_variable_label_8levels, dementia_variable_value, dementia_variable_start_time, Lsoa

CREATE TABLE `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_cohort_2013_19_index` as
Select person_id, gender_source_value, birth_datetime, death_datetime, ethnicity_concept_id, 
age, recode_ethnicity_concept_id, gender_variable_value, gender_variable_label, 
ethnicity_variable_value_8levels, ethnicity_variable_label_8levels,
dementia_variable_value, dementia_variable_start_time, min(IMD) max_imd
FROM `yhcr-prd-phm-bia-core.CB_MYSPACE_LG.pj1_cohort_index`
GROUP BY   person_id, gender_source_value, birth_datetime, death_datetime, ethnicity_concept_id, 
age, recode_ethnicity_concept_id, gender_variable_value, gender_variable_label, 
ethnicity_variable_value_8levels, ethnicity_variable_label_8levels,
dementia_variable_value, dementia_variable_start_time

In [8]:
df=subset(data,data$time_to_dementia>0&data$time_to_dementia<=7) 
df$dementia=ifelse(is.na(df$dementia_variable_start_time),0,1)
table(df$dementia)

df$ethnicity_variable_value_8levels<-as.factor(data$ethnicity_variable_value_8levels)

     0      1
400243   8940

In [29]:
data$ethnicity <- data.frame(ethnicity = factor(data$ethnicity_variable_value_8levels))

In [6]:
cox_model <- coxph(Surv(time_to_dementia, dementia) ~ gender_variable_value + age + ethnicity_variable_value_8levels, data = df)
summary(cox_model)

Call:
coxph(formula = Surv(time_to_dementia, dementia) ~ gender_variable_value +
    age + ethnicity_variable_value_8levels, data = df)

  n= 278886, number of events= 7526
   (130297 observations deleted due to missingness)

                                       coef  exp(coef)   se(coef)       z
gender_variable_value             0.0786600  1.0818364  0.0239579   3.283
age                               0.1059299  1.1117439  0.0009144 115.850
ethnicity_variable_value_8levels -0.0863374  0.9172847  0.0126448  -6.828
                                 Pr(>|z|)
gender_variable_value             0.00103 **
age                               < 2e-16 ***
ethnicity_variable_value_8levels 8.62e-12 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

                                 exp(coef) exp(-coef) lower .95 upper .95
gender_variable_value               1.0818     0.9244    1.0322    1.1338
age                                 1.1117     0.8995    1.1098    1.1137
ethnicity_variable_value_8levels    0.9173     1.0902    0.8948    0.9403

Concordance= 0.889  (se = 0.001 )
Likelihood ratio test= 16506  on 3 df,   p=<2e-16
Wald test            = 14170  on 3 df,   p=<2e-16
Score (logrank) test = 19979  on 3 df,   p=<2e-16